* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corletras:#ffffff;
    --fundo: #000000;
    --retangulo: #C64A4A;
}

body{
    background-color: var(--fundo);
    font-family: "Inter" sans-serif;
    color: var(--corletras);
}

header{
    background-color: var(--fundo);
    width: 1440px;
    height: 100px;
    justify-content: space-between;
}

.logoimg{
    width: 78px;
    height: 78px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 24px;
    justify-content: flex-start;
    align-items: center;
}

.headertittle{
    width: 207px;
    height: 84px;
    text-size-adjust: 48px;
    justify-content: center;
    align-items: center;
}

.divmedias{
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
    display: flex;
    width: 54px;
    height: 54px;
    margin-right: 12px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.page1{
    width: 1440px;
    height: 808px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.background01{
    width: 1440px;
    height: 808px;
}