*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    }

header{
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 20px;
}

.Cabecalho{
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoImg{
    width: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Titulo{
    padding: 50px;
    text-align: center;
    width: 50%;
    font: 70px;
}

.Redes{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.Background{
    display: flex;
    justify-content: center;
}

.PrincipaisAlbuns{
    padding: 50px;
    text-align: center;
}

.NomeAlbuns{
    text-align: center;
}

.ImagemAlbuns{
    width: 120px;
}

.Albuns{
    background-image: background-color(#000);
    padding: 24px 0;
}

.Adrenaline{
    text-align: center;
    padding: 24px 0;
}

.Around{
    text-align: center;
    padding: 24px 0;
}

.Pony{
    text-align: center;
    padding: 24px 0;
}

.AlbumDeftones{
    text-align: center;
    padding: 24px 0;
}

.Saturday{
    text-align: center;
    padding: 24px 0;
}

.Diamond{
    text-align: center;
    padding: 24px 0;
}

.Yokan{
    text-align: center;
    padding: 24px 0;
}

.Ohms{
    text-align: center;
    padding: 24px 0;
}

.OsAlbuns{
    display: flex;
    justify-content: space-around;
}

.Rodape{
    background-image: #000;
    color: black;
    display: flex;
    justify-content:center;
    padding: 24px 0;
    text-align:center;
    display:block;
}

.TextoRodape{
    padding: 50px;
    text-align: center;
}

.RodapeLogo{
    height: 80px;
    padding: 12px 0;
}

.Link{
    color: #000;
    text-decoration: none;
}
