* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corletras:#ffffff;
    --fundo: #000000;
    --retangulo: #C64A4A;
}

body{
    background-color: var(--fundo);
    font-family: "Inter" sans-serif;
    color: var(--corletras);
}

.header{
    background-color: #777);
    color: var(--corletras);
    width: 1440px;
    height: 100px;
}